$primaryColor: #a8a7a7;

$back: $primaryColor;

$defaultFont: 'roboto', sans-serif;
$font: #808080;


$content-width: 1200px;
$breakpoint: 799px;
$nav-height: 70px;
$nav-background: #e9e9e9;
$nav-font-color: #000000;
$link-hover-color: #2581DC;
$telephone-blue-link: #005b97;
$bg-dark-blue: #005b97;
$black: #000;
$white: #fff;
$orange: rgb(252, 149, 81);